<div class="shrink-0 w-72 max-w-full">
  <div class="border border-gray-200 bg-white shadow-md rounded-lg overflow-hidden h-full flex flex-col">
    <div class="aspect-square bg-gray-200">
      {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
    </div>
    <div class="flex flex-col items-center text-center p-4 space-y-2">
      <div class="h-4 bg-gray-200 rounded w-3/4"></div>
      <div class="h-4 bg-gray-200 rounded w-1/2"></div>
    </div>
    <div class="p-4 pt-0">
      <div class="w-full py-3 bg-gray-200 rounded-lg"></div>
    </div>
  </div>
</div>
