<div class="group relative">
  <div class="relative overflow-hidden bg-gray-200 rounded-lg aspect-square mb-4 animate-pulse">
    {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover' }}
  </div>
  
  <div class="space-y-1">
    <div class="h-4 bg-gray-200 rounded animate-pulse"></div>
    <div class="h-4 bg-gray-200 rounded w-2/3 animate-pulse"></div>
  </div>
</div>
